:root {
    --hover-transition: ease-out 0.3s;
    --button-gradient: linear-gradient(135deg, rgba(88, 44, 126, 1) 50%, rgba(98, 118, 204, 1) 50%);
}

@font-face {
    font-family: 'Malaga';
    src: url('../fonts/malaga/malaga-reg-italic.eot');
    src: url('../fonts/malaga/malaga-reg-italic.woff') format('woff'), url('../fonts/malaga/malaga-reg-italic.ttf') format('truetype'), url('../fonts/malaga/malaga-reg-italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/titillium/titilliumweb-regular-webfont.eot');
    src: url('../fonts/titillium/titilliumweb-regular-webfont.woff') format('woff'), url('../fonts/titillium/titilliumweb-regular-webfont.ttf') format('truetype'), url('../fonts/titillium/titilliumweb-regular-webfont.svg#titillium_webregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium Bold';
    src: url('../fonts/titillium/titilliumweb-semibold-webfont.eot');
    src: url('../fonts/titillium/titilliumweb-semibold-webfont.woff') format('woff'), url('../fonts/titillium/titilliumweb-semibold-webfont.ttf') format('truetype'), url('../fonts/titillium/titilliumweb-semibold-webfont.svg#titillium_web_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

a>img {
    transition: var(--hover-transition);
}

a>img:hover {
    opacity: 0.6;
    transition: var(--hover-transition);
}

header,
footer,
main,
section {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 72px 0 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

.container.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    width: 34%;
    display: flex;
    justify-content: flex-start;
}

.logo>img {
    height: 22px;
    width: 157px;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 46%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 440px;
    letter-spacing: 0.45px;
}

nav li {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
}

nav a {
    font-family: Titillium, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #454545;
    cursor: pointer;
    letter-spacing: 0;
}

nav a:hover {
    color: #603870;
    text-decoration: underline;
}


/*new edition*/

.container.head img {
    height: 22px;
    width: 157px;
}

.auth {
    display: flex;
    list-style: none;
    width: 16%;
    margin: 0px -21px 0 0;
}

.auth ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: baseline;
    width: 223px;
}

.auth a {
    font-family: 'Titillium', sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 0.16px;
}

.auth-login:before {
    content: '\f2f6';
    font-family: 'Font Awesome 5 Free';
    margin: 0 7px 0 1px;
    color: #582c7e;
    font-weight: 900;
}

a.auth-login:hover,
.auth-login:hover:before {
    color: #ac7ad8;
    opacity: 0.95;
}

a.auth-login {
    color: #454545;
    font-weight: 400;
    font-family: 'Titillium Bold', sans-serif;
    letter-spacing: 0.66px;
}

a.auth-signup {
    font-family: 'Titillium Bold', sans-serif;
    font-weight: 400;
    background: rgb(88, 44, 126);
    background: linear-gradient(147deg, rgb(88, 44, 126) 16%, rgb(98, 117, 203) 75%);
    color: #fff;
    width: 94px;
    line-height: 1;
    padding: 9px 0px 16px 0px;
    border-radius: 22px;
    box-shadow: 0px 6px 18px #6379cf;
    transition: ease-out 0.3s;
    display: flex;
    justify-content: center;
    margin: 6px 0px 0 0;
}

a.auth-signup:hover {
    background: #6379cf;
    box-shadow: none;
    transition: ease-out 0.3s;
}

.lang {
    display: flex;
    width: 17%;
    justify-content: flex-end;
}

.lang ul {
    list-style: none;
    display: flex;
    justify-content: self-start;
}

.lang li>a {
    font-family: 'Titillium', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #959595;
    line-height: 40px;
    font-weight: 400;
    cursor: pointer;
    letter-spacing: 0.14px;
}

.lang li>a:hover {
    text-decoration: underline;
    font-weight: 700;
    letter-spacing: 0.14px;
}

.lang li:not(:first-child)::before {
    content: '/';
    padding: 0 10px 0 11px;
    text-decoration: none !important;
}


/**/

.main {
    background: url('../img/main-back.jpg');
    display: flex;
    justify-content: center;
    flex-flow: row;
    margin: 10px auto 0 auto;
    position: relative;
}

.container.main-block {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
    font-family: 'Titillium';
    align-items: center;
    margin: 8% 0 13% 1px;
}

.main h1 {
    font-size: 3.75rem;
    color: #454545;
    font-weight: 400;
    opacity: 0.84;
    font-family: 'Titillium Bold';
    letter-spacing: 0.6px;
    margin: 0;
}

.main h2 {
    color: #464646;
    font-size: 2.25rem;
    letter-spacing: 0.35px;
    font-weight: 400;
    margin: 17px 0 5px 0px;
}

.main-block span {
    color: #fc2028;
}

.social {
    position: absolute;
    top: 23%;
    right: 33px;
    font-size: 22px;
    list-style: none;
    margin: -2px 0 0 0;
    color: #454545;
    opacity: 0.82;
}

.social li {
    margin: 14px 0 0 0;
    transition: var(--hover-transition);
}

.social a {
    color: #454545;
}

.social a:hover {
    color: #603870;
}

.cta {
    display: flex;
    list-style: none;
    width: 50.5%;
    justify-content: space-between;
    flex-flow: row;
    align-items: baseline;
    margin: 68px 0 0 0;
}

.cta a {
    text-decoration: none;
    font-family: Titillium;
    font-weight: 700;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3px;
    box-shadow: 2px 8px 12px #647397;
}

.button-ellips {
    background: linear-gradient(135deg, rgba(100, 108, 145, 1) 45%, rgba(88, 44, 126, 1) 98%);
    font-size: 18px;
    height: 56px;
    border-radius: 30px;
    letter-spacing: 0.13px;
    width: 246px;
}

.button-ellips:hover {
    opacity: 0.85;
}

.button-square {
    background-color: #5f2966;
    width: 46px;
    height: 46px;
    font-size: 22px;
    opacity: 0.8;
    border-radius: 50%;
}

.button-square:hover {
    opacity: 0.85;
}


/*Features*/

.features {
    display: flex;
}

.features .container {
    display: flex;
    margin: 124px auto 0;
    flex-wrap: wrap;
}

.features article:first-child::before {
    content: '';
    height: 237px;
    border-right: 1px solid #b9b9b9;
    display: block;
    margin: -162px 48px -75px 0;
}

.features div.features-container {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 6.2%;
}

.features div.features-container:after {
    content: '';
    display: flex;
    border-top: 1px solid #b9b9b9;
    width: 192px;
    margin: 1px -161px 0 -32px;
}

.features article {
    font-family: 'Titillium';
    width: 437px;
}

.features h4 {
    font-size: 30px;
    color: #555555;
    font-weight: 400;
    letter-spacing: 0.3px;
    display: flex;
    margin: 0px 0 0 56px;
    line-height: 1.0;
}

.features h5 {
    display: flex;
    color: #959393;
    letter-spacing: 0.26px;
    font-size: 18px;
    font-weight: 400;
}

.features article:nth-child(1) h5:before {
    content: url(../img/feat-1.jpg);
    margin: -32px 4px 0 -19px;
}

.features article:nth-child(2) h5:before {
    content: url(../img/feat-2.jpg);
    margin: -32px 4px 0 -19px;
}

.features article:nth-child(3) h5:before {
    content: url(../img/feat-3.jpg);
    margin: -32px 4px 0 -19px;
}

.features p {
    color: #959393;
    font-family: "Titillium";
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.14px;
    width: 361px;
    margin: 20px 0 0 -3px;
}


/*about*/

.about-half {
    display: flex;
    width: 65%;
    flex-flow: column;
    align-items: flex-end;
    margin: 9% 0 0px -2px;
}

.about-half::after {
    content: '';
    height: 434px;
    border-right: 1px solid #b9b9b9;
    margin: -496px -39px 65px 0;
}

.about-half h2 {
    color: #535353;
    font-family: "Titillium";
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin: -6px 0 6px 0;
}

.about-half h3 {
    color: #959393;
    font-family: "Titillium";
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.24px;
    text-align: right;
    margin: 10px 4px 0 0;
}

.about-half h3:after {
    content: '';
    width: 1103px;
    border-top: 1px solid #b9b9b9;
    display: block;
    margin: 56px 0px -58px 0;
}

.about-half span {
    color: #f65151;
}

.about-half a {
    text-decoration: none;
    font-family: 'titillium';
    color: #676767;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.26px;
    border: 1px solid #b9b9b9;
    background: #fff;
    border-radius: 31px;
    margin: 27px -199px 0 0;
    padding: 16px 28px 22px 31px;
    transition: var(--hover-transition);
}

.about-half a:hover {
    color: #fff;
    background: #676767;
    transition: var(--hover-transition);
}

.about .container>ul {
    display: flex;
    list-style: none;
    margin: 45px 0 0 -12.8%;
}

.review {
    display: flex;
    width: 64%;
    justify-content: center;
    margin: 58px 0px 0 7px;
    letter-spacing: 0.24px;
}

.review>ul {
    list-style: none;
    width: 20px;
    margin: 0px 23px 0 0px;
}

.review ul li {
    margin: 10px 0 0 0;
}

.review>ul a {
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #101010;
    opacity: 0.3;
}

.review>ul .active {
    width: 13px;
    height: 13px;
    opacity: 1;
}

.review .quote {
    font-family: 'Malaga';
    width: 530px;
    margin: 5px 10px 0 -2px;
}

.quote blockquote {
    color: #101010;
    font-size: 24px;
    line-height: 31.5px;
}

.quote cite {
    font-style: normal;
    color: #727272;
    font-size: 16px;
    letter-spacing: 0.16px;
    line-height: 35px;
}

.download:before {
    content: '';
    height: 200px;
    display: block;
    background: linear-gradient(353.7deg, rgba(255, 255, 255, 0) 50%, rgb(255, 255, 255) 50%);
}

.download {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 100%);
    margin: -61px 0 0 0;
}

.download .container {
    background: url(../img/devices.png);
    background-repeat: no-repeat;
    background-position: 67% top;
    background-size: auto;
    margin: -315px 0 0 auto;
    padding: 320px 0 186px 0;
    position: relative;
    z-index: 100;
}

.download .container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 76%;
    margin: -3px 0px 0 -15px;
}

.download h3 {
    color: #535353;
    font-family: "Titillium";
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.22px;
    margin: -34px 0px 9px 48px;
    text-align: right;
}

.download p {
    color: #959393;
    font-family: "Titillium";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.16px;
    width: 41%;
    text-align: right;
    margin: 9px 4px 31px -58px;
}

.download ul {
    list-style: none;
}

.download li {
    display: inline-block;
    margin: 0 1px 0px 8px;
}

.privacy::before {
    content: '';
    max-width: 1400px;
    display: flex;
    border-top: 1px solid #dbdbdb;
    margin: 0 0 0 auto;
    position: relative;
    z-index: 0;
}

.privacy {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(250, 250, 250, 1) 100%);
    margin: -27px 0 0 0;
}

.privacy .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px 0 0 0;
}

.privacy-cta {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: flex-end;
    margin: -44px 0 0 7px;
}

.privacy-cta>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.privacy h3 {
    color: #7c7c7c;
    font-size: 35px;
    letter-spacing: 0.75px;
    line-height: 30px;
    font-family: "Titillium";
    margin: 0 0 0 -1px;
}

.privacy h4 {
    color: #535353;
    font-size: 28px;
    letter-spacing: 0.71px;
    line-height: 37px;
    font-family: "Titillium";
    margin: 6px 2px 36px 0px;
}

.privacy-cta ul {
    display: flex;
    list-style: none;
    width: 80%;
    justify-content: space-around;
}

.privacy-cta li {
    margin: 0 0px 0 -4px;
}

.privacy-cta a {
    font-family: "Titillium Web";
    font-size: 18px;
    font-weight: 700;
    line-height: 56px;
    color: #ffffff;
    letter-spacing: 0.49px;
    text-decoration: none;
    border-radius: 26px;
}

.privacy-cta li:first-child a::before {
    content: '\f382';
    font-family: 'Font Awesome 5 Free';
    margin: 0 7px 0 0px;
    font-weight: 600;
    font-size: 17px;
}

.privacy-cta li:first-child a {
    background: rgb(100, 108, 145);
    background: linear-gradient(135deg, rgba(100, 108, 145, 1) 45%, rgba(88, 44, 126, 1) 98%);
    padding: 12px 23px 16px;
    box-shadow: 0px 2px 12px rgba(100, 115, 151, 0.7);
}

.privacy-cta li:last-child a::before {
    content: '\f155';
    font-family: 'Font Awesome 5 Free';
    margin: 0 7px 0 0px;
    font-weight: 600;
    font-size: 17px;
}

.privacy-cta li:last-child a {
    background: rgb(54, 187, 224);
    background: linear-gradient(135deg, rgba(54, 187, 224, 1) 29%, rgba(94, 123, 234, 1) 98%);
    padding: 12px 45px 16px;
    box-shadow: 0px 2px 12px rgba(26, 230, 218, 0.5);
}

.privacy-partner::before {
    content: '';
    display: flex;
    width: 1398px;
    height: 440px;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin: 0px -23px -440px 0;
}

.privacy-partner {
    display: flex;
    flex-direction: column;
    width: 99%;
    align-items: flex-end;
    margin: 83px 0 0 -31px;
}

.privacy-partner p {
    color: #7a7a7a;
    font-family: "Titillium Web";
    font-size: 14px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.14px;
}

.privacy-partner ul {
    display: flex;
    list-style: none;
    margin: 0 -24px 0 0px;
}

footer {
    display: flex;
    flex-direction: column;
}

footer .container {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.container.lst {
    flex-direction: column;
}

.footer-container {
    display: flex;
    width: 86%;
    justify-content: space-between;
    padding: 165px 0 0 0;
}

.contacts:before {
    content: '';
    height: 131px;
    border-right: 1px solid #b9b9b9;
    margin: 6px 0 -137px -21px;
}

.contacts {
    display: flex;
    flex-direction: column;
    width: 28%;
    align-items: flex-start;
    margin: 0 0 0 21px;
}

.contacts p {
    font-family: 'Titillium';
    font-weight: 400;
    letter-spacing: 0.17px;
    font-size: 14px;
    color: #5c5c5c;
    line-height: 1.46;
    width: 81%;
    margin: 1px 2px 1px 0px;
}

.contacts p:nth-child(4) {
    margin: 26px 2px 2px 0;
}

.contacts p>a {
    text-decoration: none;
    color: #5c5c5c;
    font-weight: 700;
    letter-spacing: 0.14px;
}

.contacts p>a:last-child {
    text-decoration: underline
}

.contacts p>a:hover {
    color: #603870;
}

.menu {
    display: flex;
    flex-direction: row;
    width: 52%;
    justify-content: space-between;
    margin: 0 4px 0 0;
}

.menu>div {
    padding: 0 15px 0 19px;
}

.menu>div:nth-child(1) {
    margin: 0px 0px 0px 46px;
}

.menu>div:nth-child(2) {
    margin: 0 -23px 0 0px;
}

.menu>div:nth-child(3) {
    margin: 0 13px 0 0px;
}

.menu h5 {
    color: #5c5c5c;
    font-family: "Titillium Bold";
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.11px;
    margin: 0px 0px 25px 9px;
    text-align: right;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.menu li {
    line-height: 1.44;
}

.menu a {
    text-decoration: none;
    font-family: 'Titillium';
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 400;
}

.menu a:hover {
    color: #603870;
    text-decoration: underline;
}

.menu li:after {
    content: '•';
}

.socials {
    list-style: none;
    display: flex;
    margin: 73px 0 6px 0;
}

.socials li:not(:first-child)::before {
    content: '/';
    padding: 0 10px 0 11px;
    text-decoration: none !important;
}

.socials li {
    margin: 0 2px;
}

.socials a {
    color: #5c5c5c;
    font-family: "Titillium Web";
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    text-decoration: underline;
}

.copyrights {
    color: #5c5c5c;
    font-family: "Titillium Web";
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.12px;
}